.navigation{
    background: #17252a;
}
.navigation a {
    color: white;
}
.logo{
    font-family: 'Irish Grover', cursive;
    font-size: 35px;
}
.menu {
    font-size: 20px;
}
.menu a:hover {
    color: orange;
}
