@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Irish+Grover&family=Poppins&display=swap');

.body {
  background-color : #f7f9fb;
  font-family: 'Poppins', sans-serif;
}
.body a {
  text-decoration: none;
}
.heading h3{
  font-family: 'Architects Daughter', cursive;
  
}
.heading h1{
  font-family: 'Irish Grover', cursive;
  
}

